{% extends "thinkingweekly/base.html" %}
{% load static from staticfiles %}

{% block title %}
<title>About Thinking Liverpool</title>
{% endblock %}

{% block description %}
<meta name="description" content="We're a community of curious people who like interesting events. We've been finding events and bringing together like minded people since 2014.">
{% endblock %}

{% block content %}

  <div class="container">
    <h1 class="explainer">About Thinking Liverpool</h1>

    <div class="row">

      <div class="col-md-4">
        <img class="img-responsive img-rounded" src="{% static "img/events-in-liverpool.jpg" %}">
      </div>

      <div class="col-md-8">
        <h2>Interesting events in one place</h2>

        <p>
          Since moving to the city in 2013, I've been amazed by the number of
          talks, debates and other interesting events in Liverpool.
        <p>

        <p>
          The problem was there seemed to be a hundred different places to look,
          and I kept hearing about things after they'd already happened.
        </p>
      </div>

    </div>

    <div class="row">

      <div class="col-md-8 col-xs-12">

        <h2>Connecting curious people</h2>

        <p>
          I started Thinking Liverpool to make it easier to find out about
          events and to bring together curious people from different walks of life.
        </p>

        <p>
          Take a look at <a class="oldskool" href="{% url "events.past_events" %}">past updates</a>
          then please go ahead and subscribe to my weekly email.
        </p>

        <p>
          Cheers,
        </p>

        <p>
          Paul
        </p>
      </div>

      <div class="col-md-4">
        <img class="img-responsive img-rounded" src="{% static "img/connecting-curious-people.jpg" %}">
      </div>

    </div>

    <p>
      <a class="btn btn-primary" href="{% url "events.event_list" %}">See What's On in Liverpool</a>
    <p>

</div>

{% endblock %}

{% block extra_footer_notice %}
<p class="copyright text-muted small">"Audience" image credit <a href="https://flic.kr/p/Kh14" target="new">Erwin van Amstel</a>, modified and released <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0.</a></p>
{% endblock %}
