{% extends "thinkingweekly/base.html" %}

{% block title %}
  {% if is_future %}
    <title>What's On In Liverpool in {{ month }} | Thinking Liverpool</title>
  {% else %}
    <title>Events in {{ month }} {{ year }} | Thinking Liverpool</title>
  {% endif %}
{% endblock %}

{% block description %}
  {% if is_future %}
    <meta name="description" content="Find out what's on in {{ month }} in Liverpool.">
  {% else %}
    <meta name="description" content="Find out what happened in {{ month }} {{ year }} in Liverpool.">
  {% endif %}
{% endblock %}

{% if not events %}
  {% block extra_head %}
    <!-- This page is empty (stub) - don't let search engines index it -->
    {% include "events/partials/meta_noindex.html" %}
  {% endblock %}
{% endif %}

{% block content %}

  <div class="container">
    {% if is_future %}
      <h1>What's On In Liverpool in {{ month }}</h1>
    {% else %}
      <h1>Events in Liverpool, {{ month }} {{ year }}</h1>
    {% endif %}

    {% include "events/partials/event_list.html" with events=events only %}


  </div>

{% endblock %}
