{% extends "thinkingweekly/base.html" %}
{% load static from staticfiles %}

{% block extra_head %}
  <!-- don't index in search engines -->
  {% include "events/partials/meta_noindex.html" %}
{% endblock %}

{% block title %}
<title>Please click the link in your email</title>
{% endblock %}

{% block description %}
<meta name="description" content="We're a community of curious people who like interesting events. We've been finding events and bringing together like minded people since 2014.">
{% endblock %}

{% block content %}

  <div class="container">
    <h1 class="explainer">One more thing...</h1>

    <h2>Please click the link in the email we've sent you </h2>

</div>

{% endblock %}

{% block footer_newsletter %}
{% endblock %}
