{% extends "thinkingweekly/base.html" %}
{% load static from staticfiles %}

{% block title %}
<title>Interesting Events in Liverpool | Thinking Liverpool</title>
{% endblock %}

{% block description %}
<meta name="description" content="All the interesting events and what's on in Liverpool to do with Science, History, Politics and Community, sign up for our newsletter and don't miss out!">
{% endblock %}

{% block content %}

  <div class="container-fluid site-home-banner">
    <div class="container">

      <h1 class="explainer">Interesting Events In Liverpool</h1>

      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron site-home-jumbotron">
            <h2>A weekly list of events on Science, Community, Politics &amp; History</h2>
            <ul class="list-group">
              <li class="list-group-item">Learn new things and meet like-minded people.</li>
              <li class="list-group-item">Discover the organisations running interesting events.</li>
              <li class="list-group-item">Receive a carefully curated list of what's on.</li>
              <li class="list-group-item">Never miss out with our weekly email.</li>
            </ul>
            {% include "events/partials/subscribe_form.html" %}
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <section class="main-event">

    <h2>Coming up...</h2>

      <div class="row">
        <div class="col-md-12">
          <a href="{{ next_event.get_future_url }}">
            <div class="well">
              <h3>{{ next_event.title }}</h3>
              <h4>{{ next_event.starts_at|date }} at {{ next_event.starts_at|time }}</h4>
            </div>
        </a>

        </div>
      </div>

      <p class="see-future-events">
        <a class="btn btn-primary" href="{% url "events.event_list" %}">
          See more events
        </a>
      </p>

    </section>

    <hr>


    <!--
    <section>
      <h2>Week Highlights</h2>
      <div class="row">

        <div class="col-xs-6 col-md-6">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/400x224" alt="an image">
            Reclaiming The City: From Consultation to Collaboration
          </a>
        </div>

        <div class="col-xs-6 col-md-6">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/400x224" alt="an image">
            Ignite Liverpool - Inspiring Liverpool
          </a>
        </div>

        <div class="col-xs-12 col-md-12">
          <p>
            <a class="oldskool" href="{% url "events.event_list" %}">See more</a>
          <p>
        </div>

      </div>
    </section>
    -->

    <!--
    <section>

      <h2>Explore themes</h2>

      <div class="row">

        <div class="col-xs-6 col-md-6">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/400x224" alt="an image">
             Science
          </a>
        </div>

        <div class="col-xs-6 col-md-6">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/400x224" alt="an image">
            Society
          </a>
        </div>

        <div class="col-xs-6 col-md-6">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/400x224" alt="an image">
            History
          </a>
        </div>

        <div class="col-xs-6 col-md-6">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/400x224" alt="an image">
            Community
          </a>
        </div>

      </div>
    </section>
    -->

    <section>
      <h2>Popular venues</h2>

      <div class="row">

        <div class="col-xs-12 col-md-6">
          <div class="venue-image">
            <img class="img-responsive" src="{% static "img/events-in-victoria-gallery.jpg" %}" alt="Victoria Gallery">
            <h3>Victoria Gallery</h3>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <div class="venue-image">
            <img class="img-responsive" src="{% static "img/events-in-bluecoat-liverpool.jpg" %}" alt="Bluecoat">
            <h3>Bluecoat</h3>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <div class="venue-image">
            <img class="img-responsive" src="{% static "img/events-in-tate-liverpool.jpg" %}" alt="Tate Liverpool">
            <h3>Tate Liverpool</h3>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <div class="venue-image">
            <img class="img-responsive" src="{% static "img/events-in-liverpool-central-library.jpg" %}" alt="Liverpool Central Library">
            <h3>Central Library</h3>
          </div>
        </div>


      </div>
    </section>

    <hr>

  </div>

{% endblock %}
