{% extends "thinkingweekly/base.html" %}

{% block title %}
<title>What's on at {{ venue.name }} | Thinking Liverpool</title>
{% endblock %}

{% block content %}

  <div class="container">
    <h1>{{ venue.name }}</h1>

      <section class="venue-information">
        <span class="venue-information-snippet">
          <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;<a href="{{ venue.map_url }}" target="new">{{ venue.address }}</a>
        </span>

        {% if venue.website %}
        <span class="venue-information-snippet">
          <i class="fa fa-external-link" aria-hidden="true"></i>&nbsp;<a href="{{ venue.website }}" target="new">{{ venue.website }}</a>
        </span>
        {% endif %}

        {% if venue.twitter_handle %}
        <span class="venue-information-snippet">
          <i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;<a href="{{ venue.twitter_url }}">{{ venue.twitter_handle }}</a>
        </span>
        {% endif %}

      </section>

      <section class="embedded-map">
        <a href="{{ venue.map_url }}" target="new">
          <img class="img-responsive" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyBJ7h3VXlNq87c6zzTuM3yj2p0mddV9244
        &center={{ venue.map_query|urlencode }}&markers=|&size=640x360&zoom=16">
        </a>

      </section>

    {% if future_events %}
      <hr>
      <section>
        {% for event in future_events %}

          <div class="panel panel-default event">
            <div class="panel-heading">
              <div class="panel-title">
                <h2>
                  <a class="oldskool" href="{{ event.external_url }}" target="new">
                     {{ event.title }}
                  </a>
                </h2>
                <h3>
                  {{ event.starts_at|date }} at {{ event.starts_at|time }}
                </h3>
              </div>
            </div>

            <div class="panel-body">

              {{ event.description|truncatewords:50 }}

            </div>
          </div>

        {% endfor %}
      </section>
    {% endif %}

    {% if past_events %}
      <hr>
      <section>
        <h2>Past events at {{ venue.name }}</h2>

        {% for event in past_events %}

          <a id="{{ event.slug }}"></a>

          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <h3>
                  <a class="oldskool" href="{{ event.external_url }}" target="new">
                     {{ event.title }}
                  </a>
                </h3>

                <h4>
                  {{ event.starts_at|date }}
                </h4>
              </div>
            </div>

            <div class="panel-body">
              {{ event.description|truncatewords:20 }}
            </div>

          </div>

        {% endfor %}
      </section
    {% endif %}

    {% if not past_events and not previous_events %}
      <p class="lead">
      We don't know about any events at the moment.
      </p>

      {% if venue.website %}
        <p>
          <a class="oldskool" href="{{ venue.website }}" target="new">
            Visit {{ venue.name}} website.
          </a>
        </p>
      {% endif %}
    {% endif %}

  </div>

{% endblock %}
