{% extends "thinkingweekly/base.html" %}

{% block title %}
<title>What's on at {{ venue.name }} | Thinking Liverpool</title>
{% endblock %}

{% if not past_events and not previous_events %}
  {% block extra_head %}
    <!-- This page is empty (stub) - don't let search engines index it -->
    {% include "events/partials/meta_noindex.html" %}
  {% endblock %}
{% endif %}

{% block content %}

  <div class="container">
    <h1>What's on at {{ venue.name }}</h1>

      <section class="venue-information">
        <span class="venue-information-snippet">
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;<a href="{{ venue.map_url }}" target="new">{{ venue.address }}</a>
        </span>

        {% if venue.website %}
        <span class="venue-information-snippet">
          <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;<a href="{{ venue.website }}" target="new">{{ venue.website }}</a>
        </span>
        {% endif %}

        {% if venue.twitter_handle %}
        <span class="venue-information-snippet">
          <a href="{{ venue.twitter_url }}">{{ venue.twitter_handle }}</a>
        </span>
        {% endif %}

      </section>

      <section class="embedded-map">
        <a href="{{ venue.map_url }}" target="new">
          <img class="img-responsive" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyBJ7h3VXlNq87c6zzTuM3yj2p0mddV9244
        &center={{ venue.map_query|urlencode }}&markers=|&size=640x360&zoom=16">
        </a>

      </section>

      <hr>
      <section class="venue-future-events">
        <h2>Future events</h2>

        {% if not future_events %}
        <p class="lead">
          We don't know about any events at the moment.<br>
        </p>

        <a class="btn btn-primary" href="{% url "events.event_list" %}">See all future events</a>
        {% endif %}



        {% for event in future_events %}

          <div class="panel panel-default event">
            <div class="panel-heading">
              <div class="panel-title">
                <h3>
                  <a class="oldskool" href="{{ event.get_absolute_url }}">
                     {{ event.title }}
                  </a>
                </h3>
                <h4>
                  {{ event.starts_at|date }} at {{ event.starts_at|time }}
                </h4>
              </div>
            </div>

            <div class="panel-body">

              {{ event.description|truncatewords:50 }}

            </div>
          </div>

        {% endfor %}
      </section>

    {% if past_events %}
      <hr>
      <section>
        <h2>Past events</h2>

        <ul>
        {% for event in past_events %}
          <li>
            <a oldskool href="{{ event.get_absolute_url }}" >
               {{ event.title }}
            </a>
          </li>
          {% endfor %}
        </ul>

      </section>
    {% endif %}


    {% if venue.website %}
      <p>
        <a class="oldskool" href="{{ venue.website }}" target="new">
          Visit {{ venue.name}} website.
        </a>
      </p>
    {% endif %}

  </div>

{% endblock %}
