{% for event in events %}

  <div class="event">
    <a id="{{ event.slug }}"></a>

    <h2 class="section-heading">
      <a href="{{ event.external_url }}" target="new">
         {{ event.title }}
      </a>
    </h2>

    <h3>{{ event.starts_at|date }}, {{ event.starts_at|time }} at
        {% if event.venue.slug %}
          <a href="{% url "events.venue_event_list" slug=event.venue.slug %}" title="{{ event.venue.address }}" target="new">
        {% else %}
          <a href="{{ event.venue.map_url }}" title="{{ event.venue.address }}" target="new">
        {% endif %}

        {{ event.venue.name }}
      </a>
    </h3>

    {{ event.description|linebreaks }}
  </div>

{% endfor %}
