<div class="subscribe-form">
  <form class="form-inline" action="//paulfurley.us10.list-manage.com/subscribe/post?u=b219f483a9bfaba5168db63b5&amp;id=12f09c1427" method="post" name="mc-embedded-subscribe-form" novalidate>

    <div class="form-group">
      <label class="sr-only" for="email">Email address</label>

      <div class="input-group input-group-lg">
        <input type="email" class="form-control" id="email" value="" placeholder="you@example.com" name="EMAIL">

      </div>
    </div>

    <button class="btn btn-primary btn-lg" type="submit">Sign Up</button>

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;">
      <input type="text" name="b_b219f483a9bfaba5168db63b5_12f09c1427" tabindex="-1" value="">
    </div>

  </form>
</div>
