<div class="subscribe-form">
  <form class="form-inline" action="//paulfurley.us10.list-manage.com/subscribe/post?u=b219f483a9bfaba5168db63b5&amp;id=12f09c1427" method="post" name="mc-embedded-subscribe-form" novalidate>

    <div class="input-group">
      <input class="form-control" type="email" value="" placeholder="you@example.com" name="EMAIL">

      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </span>
    </div>


    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;">
      <input type="text" name="b_b219f483a9bfaba5168db63b5_12f09c1427" tabindex="-1" value="">
    </div>

  </form>
</div>
