.site-home-banner {
  margin-top: -22px;  /* shift up past navbar padding */
  /* width: 100%;
  height: 840px;
  height: 100%;
  height: calc(100% - 1px);
*/
  background-image: url('../img/thinking-liverpool-whats-on.jpg');
  background-size: cover;
}

.site-home-banner img {
  width: 100%;
}

.site-home-banner h1, .site-home-banner h2 {
  color: white;
}

h1.explainer {
  font-weight: lighter;
}

.site-home-banner .jumbotron {
  background-color:  rgba(247,247,247, 0.8);
}

.site-home-banner .jumbotron h2 {
  font-size: 28px;
  color: rgb(69, 130, 236);
}

.site-home-banner .jumbotron li {
  background: none;
  border: none;
  color: rgb(69, 130, 236);
  font-weight: bold;
}

div.subscribe-form {
  margin-top: 20px;
  margin-bottom:  20px;
}

p.copyright {
  text-align: center;
}

a.oldskool,
p.copyright a {
  color: inherit;
  text-decoration: underline;
}

/* ==== Future Events: /whats-on-in-liverpool/ ==== */

.event h2.panel-title {
  font-size: 24px;
}

.event h3 {
  font-size: 18px;
  margin-top: 0px;
}

.event span > a {
  color: inherit;
}

p.more-events-next-week {
  margin-top: 20px;
  font-size: 24px;
  font-style: italic;
}

p.see-future-events {
  font-size: 24px;
}

/* ==== Past events: /whats-on-in-liverpool/past-events/ ==== */

.past-event-updates > h2 > a {
  font-size: 24px;
  color: inherit;
  text-decoration: underline;
  padding-top: 5px;
}

/* Site home: venue image */
.venue-image {
  position: relative;
  padding-bottom: 20px;
}

.venue-image > h3 {
  position: absolute;
  top: 75%;
  left: 0;
  width: 100%;
  color: white;
  background: black;
}

@media (max-width: 400px) {
  .venue-image {
    margin-bottom: 20px;
  }
}

/* Venue information page */

section.venue-information {
  margin-bottom: 20px;
}

section.venue-information a {
  padding-right: 10px;
}

section.venue-information .fa {
  /* Prevent the icon and the text from getting separated
   * http://stackoverflow.com/a/25233914
   */
  display: inline;
}

section.embedded-map {
  padding-bottom: 20px;
}

section.venue-future-events .panel-title > h3 {
  font-size: 22px;
}

section.venue-future-events .panel-title > h4 {
  font-size: 16px;
}

section.venue-future-events a {
  /* display: block;*/
}

/* Event detail page */

.event-detail .event-title {
  font-size: 36px;
}

.event-detail .starts-at {
  font-size: 24px;
}

.event-detail .venue-name {
  font-size: 24px;
}

.event-detail .description {
  padding-bottom: 20px;
}
