<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
  </head>

  <body style='font-family: "Trebuchet MS",sans-serif; background-color: #eeeeee'>

    <div style="width: 728px; margin-left: auto; margin-right: auto; background-color: #ffffff; padding: 10px">
    <div style="font-size: 120%">
      <p>Dear *|FNAME|*,</p>

      <p>
      Here's your weekly update of talks, debates and interesting events.
      </p>

      <p>
      You can support the future of Thinking Liverpool by <a href="https://opencollective.com/thinking-liverpool">donating $10 per year.</a> Thanks to those who are already backing the project — your contribution ensures Thinking Liverpool continues to benefit the community.

      <p>
      Have a great week!<br />

      Paul
      </p>
    </div>

    {% for event in update.events %}
    <h2>
      <a style="color: #428bca; text-decoration: none" href="{{ event.external_url }}" target="_new">
        {{ event.title }}
      </a>
    </h2>

    <h4>{{ event.starts_at|date }}  {{ event.starts_at|time:"H:i" }}
      <a href="http://maps.google.co.uk/maps?q={{ event.venue.address|urlencode }}" title="{{ event.full_location }}" target="_new">
        {{ event.venue.name }}</a></i></h4>
    <p class="lead">{{ event.description|linebreaks }}</p>
    <hr />
    {% endfor %}


    <footer>
      <p>
        Also on <a href="https://twitter.com/ThinkingLiv">Twitter</a> and online
        at <a href="{{ update.get_url }}">www.thinkingliverpool.com</a>
      </p>
      <p>
        Thinking Liverpool is a project by Paul Fawkesley, made possible by lots
        of hard work by Jenny.
      </p>
      <p><a href="https://opencollective.org/thinking-liverpool">Support Thinking Liverpool through Open Collective</a>
      </p>
    </footer>

    </div>
  </body>

</html>
